@using Microsoft.Extensions.Options
@using ProgrammersBlog.Entities.Concrete
@inject IOptionsSnapshot<WebsiteInfo> WebsiteInfo
@{
    var websiteInfo = WebsiteInfo.Value;
}
<!-- <div class="page-inner"> -->
<!DOCTYPE html>
<html lang="tr" >
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@WebsiteInfo.Value</title>
    
    <link href="~/Menu/css/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
</head>
<body>

    <header>
        <a asp-controller="Home" asp-action="Index" class="brand">@websiteInfo.MenuTitle <em>.</em></a>
        <div class="menu-btn"></div>
        <div class="navigation">
            <div class="navigation-items">

                <a  href="https://itg-advice.netlify.app/">Çevremdekiler</a>
                <a asp-controller="Home" asp-action="Rota">Rotanı Oluştur</a>
                <a asp-controller="Home" asp-action="About">Hakkımızda</a>
                <a asp-controller="Home" asp-action="Contact">İletişim</a>
                <a asp-area="Admin" asp-controller="Home" asp-action="Index">Giriş</a>
               >
            </div>
        </div>
    </header>
    <!--Videolar pexels.com'dan indirilmiştir.'-->
    <section class="home">
        <video class="video-slide active" src="~/Menu/videos/1.mp4" autoplay muted loop></video>
        <video class="video-slide" src="~/Menu/videos/2.mp4" autoplay muted loop></video>
        <video class="video-slide" src="~/Menu/videos/3.mp4" autoplay muted loop></video>
        <video class="video-slide" src="~/Menu/videos/4.mp4" autoplay muted loop></video>
        <video class="video-slide" src="~/Menu/videos/5.mp4" autoplay muted loop></video>
        <div class="content active">
            <h1>Binlerce<br><span>Adres</span></h1>
            <p>Çevrenizdeki binlerce otel, restoran ve turistik yeri keşfetmeye hazır mısın? Senin için özenle hazırlanmış arayüze ulaşmak için linke tıklayabilirsin!</p>
            <a href="https://itg-advice.netlify.app/">Daha Fazlasını Gör</a>
        </div>
        <div class="content">
            <h1>Anılarını<br><span>Paylaş</span></h1>
            <p>Anlık olarak paylaşım yapabileceğin bir kanal senin için hazırlandı! Sen de gir ve hemen başından geçenleri insanlarla paylaş ve beğeniyi kap!</p>
            <a href="#">Daha Fazlasını Gör</a>
        </div>
        <div class="content">
            <h1>Kendi Ekibin ile<br><span>İletişimi Kesme!</span></h1>
            <p>Yol arkadaşlarınla iletişimi koparmamak senin elinde! ITG-Chat'e üye ol, Ekibin ile ayrı düşsen dahi iletişimini koparma!</p>
            <a asp-action="Home" asp-controller="Index">Daha Fazlasını Gör</a>
        </div>
        <div class="content">
            <h1>Rotanı kendin<br><span>belirle!</span></h1>
            <p>Senin için oluşturduğumuz modern harita ile yolculuk tipini seçerek dilediğin yere seyahat et!</p>
            <a asp-controller="Home" asp-action="Map">İncele</a>
        </div>
        <div class="content">
            <h1>HATIR!<br><span>ÇOK YAKINDA!</span></h1>
            <p>Yolculuklarda arkadaş arıyorsan bu uygulama tam sana göre! HATIR ile paranın söz konusu olmadığı tek çıkarın sohbet olduğu bir yolculuğun tadını çıkarın. DETAYLAR YAKINDA!</p>
            <a asp-controller="Home" asp-action="ComingSoon">İncele</a>
        </div>
        <div class="media-icons">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
        </div>
        <div class="slider-navigation">
            <div class="nav-btn active"></div>
            <div class="nav-btn"></div>
            <div class="nav-btn"></div>
            <div class="nav-btn"></div>
            <div class="nav-btn"></div>
        </div>
    </section>

    <script type="text/javascript">
        //Javacript for responsive navigation menu
        const menuBtn = document.querySelector(".menu-btn");
        const navigation = document.querySelector(".navigation");

        menuBtn.addEventListener("click", () => {
            menuBtn.classList.toggle("active");
            navigation.classList.toggle("active");
        });

        //Javacript for video slider navigation
        const btns = document.querySelectorAll(".nav-btn");
        const slides = document.querySelectorAll(".video-slide");
        const contents = document.querySelectorAll(".content");

        var sliderNav = function (manual) {
            btns.forEach((btn) => {
                btn.classList.remove("active");
            });

            slides.forEach((slide) => {
                slide.classList.remove("active");
            });

            contents.forEach((content) => {
                content.classList.remove("active");
            });

            btns[manual].classList.add("active");
            slides[manual].classList.add("active");
            contents[manual].classList.add("active");
        }

        btns.forEach((btn, i) => {
            btn.addEventListener("click", () => {
                sliderNav(i);
            });
        });
    </script>

</body>
</html>