
@{
    Layout = "_RotaLayout";
    ViewBag.Title = "Rotanı Oluştur";
}



 

    <!--  the map -->
    <div id='map'></div>
    <!-- geocoder search input -->
    <div class="geocoder">
        <div id="geocoder"></div>
    </div>
    <!-- left side instructions -->
    <div id='instructions'>
        <div id="calculated-line"></div>
    </div>


    



