@using System.Text.RegularExpressions
@using ProgrammersBlog.Mvc.Extensions
@model ProgrammersBlog.Entities.Dtos.CityListDto
@{
    Layout = "_Layout";
    ViewBag.Title = "Şehirler";
    Regex regex = new Regex("<[^>]*>");
}




<div class="gtco-loader"></div>
<div id="page">

    <div class="gtco-section">
        <div class="gtco-container">

            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center gtco-heading">
                    <h2>En popüler yerler</h2>
                    <p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
                </div>
            </div>



            <div class="row">
                @foreach (var city in Model.Cities)
                {

                    <div class="col-lg-4 col-md-4 col-sm-6">
                        <a href="images/img_1.jpg" class="fh5co-card-item image-popup">
                            <figure>
                                <div class="overlay"><i class="ti-plus"></i></div>
                                <img src="~/img/" alt="@city.Name" class="img-responsive">
                            </figure>
                            <div class="fh5co-text">
                                <h2>@city.Name</h2>
                                <p>
                                    @{ city.Content = regex.Replace(city.Content, ""); }
                                    @(city.Content.Length>250 ? city.Content.Substring(0,250) : city.Content)
                                </p>
                                <p><span href="/@Url.FriendlyUrlHelper(city.Name)/@city.Id" class="btn btn-primary">İncele</span></p>
                            </div>
                        </a>
                    </div>
                 }

            </div>
        </div>
    </div>
</div>